.App {
    height: 100vh;
    padding-top: 10px;
    font-family: Lato, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
 
  .contenedor-calculadora {
    width: 400px;
    height: 700px;
    padding: 14px;
    padding-bottom: 0px;
    background-color: #16425B;    
    border: 5px solid #2F6690;
    border-radius: 10px;
  }
  
  .fila {
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }